img {
  float: left;
  width: 250;
  height: 200px;
}
a {
  font-size: 25px;
  margin-top: 75px;
  color: black;
}
#articles {
  height: 400px;
  overflow: scroll;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
}
.articleInfo {
  margin-top: 10px;
}
body {
  background-color: lightslategray;
  text-align: center;
}
#notes {
  color: aliceblue;
}
button {
  color: black;
}
textarea {
  height: 150px;
}
#scrapeArticles {
  margin-top: 25px;
  border-radius: 3px;
  border-color: black;
  background-color: whitesmoke;
  font-size: 24px;
}
